.InputDrop {
  &.relative {
    position: relative;
  }

  &_head {
    position: relative;
  }

  &_button {
    background: none;
    border: none;
  }

  &:focus-within &_menu {
    // height: fit-content;
    display: flex;
    opacity: 1;
    padding: 10px;
    border: 1px solid #334;
    visibility: visible;
  }

  &_menu {
    position: absolute;
    margin: auto;
    width: fit-content;
    height: fit-content;
    min-width: 100%;
    max-height: 200px;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;

    display: none;
    flex-direction: column;
    gap: 12px;

    padding: 0 10px;
    // background: #1a1a2a;
    // border: 0px solid #334;
    border-radius: 5px;

    background: rgb(22, 22, 39, 1);
    -webkit-backdrop-filter: saturate(180%) blur(4px);
    backdrop-filter: saturate(180%) blur(15x);
    border: 1px solid #353555;

    transition: .1s;
    opacity: 0;
    visibility: hidden;
  }

  &_content {
    display: grid;
    // grid-template-columns: repeat(auto-fit, 1fr);
    flex-wrap: wrap;
    gap: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 10px 5px 0px;
  }

  &_item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #cce;
    transition: .1s;
    outline: none;
    // background: var(--color-light-bg);
    background: none;
    border: 1px solid #353555;
    
    &:hover,
    &:focus-visible {
      // background: #557;
      border: 1px solid #454565;
    }

    &:active {
      // background: #446;
      border: 1px solid #555575;
    }
  }
}