.SigninForm{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-lg;

  padding: 30px 20px !important;

  &_buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-sm;
  }
}


.providersButtons{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-md;
}