* {
  &:hover>.Tooltip {
    transition-delay: 1.5s;
    opacity: 1;
  }
}

.Tooltip {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -130%);
  width: max-content;
  max-width: 100px;
  padding: 3px 8px;
  border-radius: 7px;
  font-size: 12px;
  color: #cce;
  background: #557;
  opacity: 0;
  transition: .2s;
  z-index: 999999;
  pointer-events: none;

  &::before {
    content: "";
    left: 50%;
    top: 99%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 8px solid #557;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.Tooltip:empty {
  display: none;
}