.NavLink {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all $transition-medium;

  text-decoration: none;

  &.bottomLine {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      user-select: none;
      width: 0px;
      height: 2px;
      background: currentColor;
      transition: all $transition-medium;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &.gradient {
    @include GradientText;

    &::before,
    &::after {
      background: $gradient-primary;
    }
  }

  &.white {
    color: $color-ui-primary;

    &::before,
    &::after {
      background: $color-ui-primary;
    }
  }

  &:hover {

    &,
    &::before,
    &::after {
      filter: brightness(0.9);
    }
  }

  &:active {

    &,
    &::before,
    &::after {
      filter: brightness(0.7);
    }
  }

  @each $size in (x, s, m, l) {
    &.#{$size} {
      @include FontSize($size);
    }
  }
}