.NodeShape {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &_label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: none;
    border: none;
    outline: none;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 1.5rem;
    line-height: 1.5;
    color: #fff;
  }
}

.handleStyleTop,
.handleStyleBottom,
.handleStyleLeft,
.handleStyleRight {
  opacity: 0;
  transform: translate(0%, 0%);
  background: #f00;
}

.handleStyleTop {
  width: 100%;
  height: 10px;
  left: 0;
  top: 1px;
  transform: translateY(-50%);
}

.handleStyleBottom {
  width: 100%;
  left: 0;
  bottom: 1px;
  transform: translateY(50%);
}

.handleStyleLeft {
  height: 100%;
  left: 1px;
  top: 0;
  transform: translateX(-50%);
}

.handleStyleRight {
  height: 100%;
  right: 1px;
  top: 0;
  transform: translateX(50%);
}