:root {
  --color-text-primary: #dde;

  --color-base-bg: #252535;
  --color-base-border: #292940;

  --color-light-bg: #303047;
  --color-light-border: #333355;

  --color-light-bg-alt1: #404057;
  --color-light-border-alt1: #444466;
  --color-light-bg-alt2: #35354c;
  --color-light-border-alt2: #36365b;

  --light-border: 2px solid var(--color-light-border);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text-primary);
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffffff1a;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #eeeeff33;
}

*::-webkit-scrollbar-thumb:hover {
  background: #ffffff66;
}

*::-webkit-scrollbar-thumb:active {
  background: #eeeeffe6;
}