.cm-editor {
  background: none !important;
  outline: none !important;
}

.cm-theme{
  
}
.cm-gutters {
  transform: translateX(-1px);
  // background: #202026 !important;
}

.cm-gutterElement {}

.cm-scroller {
  overflow: auto !important;
}