.cm-theme {
  height: 100% !important;
  max-height: 100% !important;
  overflow: auto !important;
}

.cm-editor {
  background: none !important;
  outline: none !important;
  height: 100% !important;
  max-height: 100% !important;
  font-size: 12px;
}

.cm-gutters {
  background: #de216320 !important;
  overflow: hidden;
}

.cm-activeLineGutter {
  background: #de216310 !important;
  color: #fff;
  // border-radius: 100px !important;
}

.cm-activeLine {
  background: #de216310 !important;
}

// .cm-gutterElement {}

// .cm-scroller {
//   overflow: auto !important;
// }