@use "variables" as *;
@use "sass:map";

@mixin GlassPanel {
  border-radius: $border-radius-md;
  border: $border-width solid $color-glass-border;
  background: $color-glass-bg;
  -webkit-backdrop-filter: saturate(180%) blur(4px);
  backdrop-filter: saturate(180%) blur(4px);
}

@mixin GradientText {
  background: $gradient-primary;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

@mixin GradientSvg {
  svg {
    fill: url(#gradient);
  }
}

@mixin FontSize($size) {
  $font-size-var: map.get($font-size, $size);
  $line-height-var: map.get($line-height, $size);
  font-size: $font-size-var;
  line-height: 1.75rem;
}

@mixin ButtonSize($size) {
  $icon-size-var: map.get($icon-size, $size);
  $font-size-var: map.get($font-size, $size);
  $line-height-var: map.get($line-height, $size);
  $padding-x-var: map.get($padding-x, $size);

  font-size: $font-size-var;
  line-height: 1.75rem;
  padding: 0 $padding-x-var;
  height: calc(#{$line-height-var} * 2);

  .square {
    aspect-ratio: 1/1;
    height: calc(#{$line-height-var} * 2);
    width: calc(#{$line-height-var} * 2);
  }

  svg {
    font-size: $icon-size-var;
  }
}

@mixin InputSize($size) {
  $icon-size-var: map.get($icon-size, $size);
  $font-size-var: map.get($font-size, $size);
  $line-height-var: map.get($line-height, $size);
  $padding-x-var: map.get($padding-x, $size);

  & .label {
    font-size: $font-size-var;
  }

  & .container {
    font-size: $font-size-var;
    line-height: 1.75rem;
    padding: 0 $padding-x-var;
    height: calc(#{$line-height-var} * 2);
  }

  & input {
    font-size: $font-size-var;
    line-height: $line-height-var;
    // padding: 0 $padding-x-var;
  }

  svg {
    font-size: $icon-size-var;
  }
}

@mixin BorderRadius {
  &.r-none {

    &,
    &::before,
    &::after {
      border-radius: $border-radius-none;
    }
  }

  &.r-sm {

    &,
    &::before,
    &::after {
      border-radius: $border-radius-sm;
    }
  }

  &.r-md {

    &,
    &::before,
    &::after {
      border-radius: $border-radius-md;
    }
  }

  &.r-lg {

    &,
    &::before,
    &::after {
      border-radius: $border-radius-lg;
    }
  }

  &.r-round {

    &,
    &::before,
    &::after {
      border-radius: $border-radius-round;
    }
  }
}